* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utility Class */

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Main Containers */

.container-up {
  height: calc(100vh - 70px);
  display: flex;
}

footer {
  height: 70px;
  display: flex;
  background-color: #222326;
}

/* Container inside .container-up */

.container-sidebar {
  height: 100%;
  width: 250px;
  background-color: #000;
}

.container-main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #1f1f1f;
  overflow: auto;
  padding-top: 70px;
  position: relative;
}

header {
  height: 70px;
  width: calc(100% - 250px);
  background-color: rgba(17, 17, 17, 0.889);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

main {
  padding: 0 15px;
}

/* Sidebar */

.container-sidebar .sidebar-up,
.container-sidebar .sidebar-bottom {
  padding: 0 15px;
}

.container-sidebar .sidebar-up {
  background-color: rgb(206, 175, 119);
}

.container-sidebar .sidebar-bottom {
  background-color: #ccc;
}

.playlist-section {
  background-color: cornflowerblue;
}
.flex-div {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.container-sidebar div,
.container-sidebar span {
  font-size: 12px;
}

.container-sidebar h3 {
  font-size: 15;
  padding: 5px 0;
}

.nav-side {
  padding: 3px 0;
}

.container-sidebar #logo {
  width: 60%;
  padding: 10px 0;
}

.container-sidebar #home,
.container-sidebar #search,
.container-sidebar #library {
  width: 15%;
  padding-right: 5px;
}

.container-sidebar i {
  padding-right: 10px;
  font-size: 32px;
}

.container-sidebar span {
  display: inline-block;
  padding: 6px 0;
}

.container-sidebar .sidebar-bottom hr {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
}

.container-sidebar .sidebar-bottom #download,
.container-sidebar .sidebar-bottom #profile {
  width: 10%;
  padding-right: 8px;
}

/* Header */

.upgrade.button {
  padding-right: 20px;
}

.upgrade.button a {
  padding: 8px 25px;
  border-radius: 25px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

/* Main */

/* Footer */

.footer-left,
.footer-right {
  width: 250px;
  max-width: calc(100% / 3);
  background-color: #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-middle {
  width: calc(100% - 500px);
  height: 100%;
  flex-grow: 1;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 575px) {
  .container-sidebar {
    width: 50px;
  }

  .container-main {
    width: calc(100% - 50px);
  }

  header {
    width: calc(100% - 50px);
  }
}
