* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
}

h2 {
  display: inline-block;
}

/* Container Big */

.container-big-flex {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Container Principali */

.container-up {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222326;
  z-index: 500;
}

/* Container dentro .container-up */

.container-sidebar {
  height: 100%;
  width: 200px;
  background-color: #000;
}

.container-main {
  height: 100%;
  width: calc(100% - 200px);
}

header {
  height: 50px;
  width: 100%;
  background-color: #111;
  z-index: 999;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  background-color: #1f1f1f;
  overflow: scroll;
}

/* Header */

.upgrade.button {
  width: 200px;
}

.upgrade.button a {
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
}
