* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utility Class */

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Container Big */

.container-big {
  height: 100vh;
  width: 100%;
}

/* Main Containers */

.container-up {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222326;
  z-index: 500;
}

/* Container inside .container-up */

.container-sidebar {
  height: 100%;
  width: 200px;
  background-color: #000;
  overflow: hidden;
}

.container-main {
  height: 100%;
  width: calc(100% - 200px);
  position: relative;
}

header {
  height: 70px;
  width: calc(100% - 200px);
  background-color: rgba(17, 17, 17, 0.889);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: end;
}

main {
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
  overflow: auto;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Sidebar */

.internal-text {
  padding: 0 15px;
}

.flex-div {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.container-sidebar div, .container-sidebar span {
  font-size: 12px;
}

.container-sidebar h3 {
  font-size: 15;
  padding: 5px 0;
}

.nav-side {
  padding: 3px 0;
}


.container-sidebar #logo {
  width: 60%;
  padding: 10px 0;
}

.container-sidebar #home,
.container-sidebar #search,
.container-sidebar #library {
  width: 15%;
  padding-right: 5px;
}

.playlist-section {
    margin: 6px 0;
}

.container-sidebar .playlist-section i {
  padding-right: 10px;
  font-size: 32px;
}

.container-sidebar .playlist-section  span {
    display: inline-block;
    padding: 6px 0;
}

/* Header */

.upgrade.button {
  padding-right: 20px;
}

.upgrade.button a {
  padding: 8px 25px;
  border-radius: 25px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

/* Main */

/* Footer */

.footer-left,
.footer-right {
  width: 25%;
}

.footer-middle {
  flex-shrink: 1;
}

.footer-right {
  display: flex;
  justify-content: end;
}

/* Media Queries */

@media screen and (max-width: 575px) {
  .container-sidebar {
    width: 50px;
  }

  .container-main {
    width: calc(100% - 50px);
  }

  header {
    width: calc(100% - 50px);
  }
}
