* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  display: inline-block;
}

.container-big-flex {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: #000;
}

.container-flex {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

section {
  height: 100%;
  width: 100px;
  background-color: rgb(192, 30, 30);
}

.container-main {
  width: calc(100% - 100px);
  background-color: darkgoldenrod;
}

header {
  height: 70px;
  width: 100%;
  background-color: darkblue;
  position: fixed;
}

main {
  height: 100%;
  background-color: cyan;
  overflow: auto;
  margin-top: 70px;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: green;
  z-index: 1;
}
