* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
}

h2 {
  display: inline-block;
}

/* Container Big */

.container-big {
  height: 100vh;
  width: 100%;
}

/* Main Containers */

.container-up {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222326;
  z-index: 500;
}

/* Container inside .container-up */

.container-sidebar {
  height: 100%;
  width: 200px;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.container-main {
  height: 100%;
  width: calc(100% - 200px);
  position: relative;
}

header {
  height: 70px;
  width: calc(100% - 200px);
  background-color: rgba(17, 17, 17, 0.889);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: end;
}

main {
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
  overflow: auto;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Header */

.upgrade.button {
  padding-right: 20px;
}

.upgrade.button a {
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
}

/* Footer */

.footer-left,
.footer-right {
  width: 25%;
}

.footer-middle {
    flex-shrink: 1;

}

.footer-right {
    display: flex;
    justify-content: end;
}
