* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  display: inline-block;
}

/* Container Big */

.container-big-flex {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Container Principali */

.container-flex {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background-color: black;
  z-index: 999;
}

/* Container inside .container-flex */

section {
  height: 100%;
  width: 200px;
  background-color: rgb(192, 30, 30);
}

.container-main {
  height: 100%;
  width: calc(100% - 200px);
}

header {
  height: 70px;
  width: 100%;
  background-color: darkblue;
  position: fixed;
  z-index: 2;
}

main {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 70px;
  overflow: auto;
  background-color: salmon;
}
