* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utility Class */

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.flex-div {
  display: flex;
}

.flex-align-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* Main Containers */

.container-up {
  height: calc(100vh - 70px);
  display: flex;
}

footer {
  height: 70px;
  display: flex;
  background-color: #222326;
}

/* Container inside .container-up */

.container-sidebar {
  height: 100%;
  width: 250px;
  background-color: #000;
  padding: 0 25px;
}

.container-main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #1f1f1f;
  overflow-y: scroll;
  padding-top: 70px;
  position: relative;
}

header {
  height: 70px;
  width: calc(100% - 250px);
  background-color: rgba(17, 17, 17, 0.889);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Container Sidebar*/

.sidebar-up {
  /* background-color: rgb(206, 175, 119); */
  height: calc(100% - 80px);
  overflow-y: hidden;
}

.sidebar-bottom {
  /* background-color: rgb(207, 137, 137); */
  height: 80px;
}

.sidebar-menu {
  /* background-color: chocolate; */
  height: 140px;
}

.sidebar-playlist {
  height: calc(100% - 140px);
  /* background-color: rgb(87, 136, 67); */
}

.sidebar-createplaylist {
  /* background-color: rgb(151, 75, 138); */
  height: 65px;
}

.sidebar-playlistsection {
  /* background-color: cornflowerblue; */
  height: calc(100% - 65px);
  overflow-y: auto;
}

/* Sidebar inside */

.hide-full-top,
.hide-full-bottom {
  display: none;
}

.container-sidebar div,
.container-sidebar span {
  font-size: 12px;
}

.sidebar-createplaylist h3 {
  font-size: 12;
  padding: 5px 0;
}

.nav-side {
  padding: 3px 0;
}

.container-sidebar #logo {
  width: 50%;
  padding: 10px 0;
}

.container-sidebar #home,
.container-sidebar #search,
.container-sidebar #library {
  width: 12%;
  padding-right: 5px;
}

.container-sidebar i {
  padding-right: 10px;
  font-size: 32px;
}

.sidebar-playlistsection div {
  padding: 6px 0;
}

.sidebar-bottom hr {
  margin: 8px 0;
}

.sidebar-bottom h3 {
  padding-left: 4px;
}

.sidebar-bottom #download {
  width: 13%;
  padding-right: 8px;
}

.sidebar-bottom #profile {
  width: 14%;
  margin: 0 5px;
  padding: 0 2px;
  background-color: #ccc;
  border-radius: 50%;
}

/* Header */

.upgrade.button {
  padding-right: 20px;
}

.upgrade.button a {
  padding: 6px 25px;
  border-radius: 25px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

/* Container Main */

/* Nav */

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 0 15px;
}

ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 12px;
  height: 30px;
}

/* Albums */

.album-container {
  padding: 20px 20px;
}

.album-container h2 {
  font-size: 18px;
}

.album-row {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

.album-row .album:first-of-type {
  margin-left: 0;
}

.album {
  text-align: center;
  margin: 0 10px;
  width: calc(100% / 6 - 20px);
}

.album img {
  width: 100%;
}

.album h3 {
  font-size: 13px;
  padding: 5px 0;
}

.subtitle {
  font-size: 11px;
  padding: 8px 0;
}

#rounded-img {
  border-radius: 50%;
}

/* Footer container */

.footer-left,
.footer-right {
  width: 250px;
  max-width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-middle {
  width: calc(100% - 500px);
  height: 100%;
  flex-grow: 1;
  /* background-color: rgb(170, 123, 160); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer inside */

.footer-left img {
  height: 50%;
  padding: 0 8px;
}

.footer-left div {
  font-size: 12px;
  padding: 0 5px;
}

.footer-left i,
.footer-right i {
  font-size: 12px;
  padding: 3px 5px;
}

.footer-middle i {
  font-size: 13px;
  padding: 3px 10px;
}

.far.fa-play-circle {
  font-size: 20px;
}

.fas.fa-undo {
  transform: scaleX(-1);
}

.footer-middle .number {
  padding: 0 20px;
  font-size: 12px;
}

.footer-middle #central-range {
  min-width: 150px;
}

/* Input customization */

input {
  background-color: #222326;
  max-width: 400px;
}

input[type="range"] {
  height: 14px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9e9e9e;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 8px;
  width: 50px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #9e9e9e;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9e9e9e;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 8px;
  width: 50px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #9e9e9e;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #9e9e9e;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 8px;
  width: 50px;
  border-radius: 50px;
  background: #e8e8e8;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #9e9e9e;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #9e9e9e;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .album {
    margin: 0 5px;
    width: calc(100% / 4 - 10px);
  }
}

@media screen and (max-width: 575px) {
  .container-sidebar {
    width: 50px;
    padding: 5px 14px;
  }

  .container-main {
    width: calc(100% - 50px);
  }

  header {
    width: calc(100% - 50px);
  }

  .album {
    margin: 0 2px;
    width: calc(100% / 2 - 4px);
  }

  .hide-mobile {
    display: none;
  }

  .hide-full-top,
  .hide-full-bottom {
    display: block;
  }

  .hide-full-top img {
    padding: 3px 0;
  }

  .hide-full-top {
    height: calc(100% - 70px);
  }
  .hide-full-bottom {
    height: 70px;
  }
  .hide-full-bottom #download {
    padding: 10px 0;
  }

  .hide-full-bottom #profile {
    padding: 0 2px;
    background-color: #ccc;
    border-radius: 50%;
  }
}
