* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utility Class */

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Main Containers */

.container-up {
  height: calc(100vh - 70px);
  display: flex;
}

footer {
  height: 70px;
  display: flex;
  background-color: #222326;
}

/* Container inside .container-up */

.container-sidebar {
  height: 100%;
  width: 250px;
  background-color: #000;
  padding: 0 15px;
}

.container-main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #1f1f1f;
  overflow-y: scroll;
  padding-top: 70px;
  position: relative;
}

header {
  height: 70px;
  width: calc(100% - 250px);
  background-color: rgba(17, 17, 17, 0.889);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Sidebar container */


.sidebar-up {
  background-color: rgb(206, 175, 119);
  height: calc(100% - 70px);
}

.sidebar-bottom {
  background-color: rgb(207, 137, 137);
  height: 70px;
}

.sidebar-menu {
  background-color: chocolate;
  height: 180px;

}

.sidebar-playlist {
  height: calc(100% - 180px);
  background-color: rgb(87, 136, 67);
}

.sidebar-createplaylist {
  background-color: rgb(151, 75, 138);
  height: 70px;

}

.sidebar-playlistsection {
  background-color: cornflowerblue;
  height: calc(100% - 70px);
  overflow-y: auto;
}

/* Sidebar inside */

.flex-div {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.container-sidebar div,
.container-sidebar span {
  font-size: 12px;
}

.container-sidebar h3 {
  font-size: 15;
  padding: 5px 0;
}

.nav-side {
  padding: 3px 0;
}

.container-sidebar #logo {
  width: 60%;
  padding: 10px 0;
}

.container-sidebar #home,
.container-sidebar #search,
.container-sidebar #library {
  width: 15%;
  padding-right: 5px;
}

.container-sidebar i {
  padding-right: 10px;
  font-size: 32px;
}

.container-sidebar span {
  display: inline-block;
  padding: 6px 0;
}

.sidebar-bottom hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sidebar-bottom h3 {
  padding-left: 4px;
}

 .sidebar-bottom #download {
  width: 13%;
  padding-right: 8px;
}


.sidebar-bottom #profile {
  width: 14%;
  margin: 0 5px;
  padding: 0 2px;
  background-color: #ccc;
  border-radius:50%;
}

/* Header */

.upgrade.button {
  padding-right: 20px;
}

.upgrade.button a {
  padding: 8px 25px;
  border-radius: 25px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

/* Main */

nav ul {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 12px;
}

.album-container {
  padding: 0 20px;
}

.album-container h2 {
  font-size: 18px;
  padding-bottom: 15px;
}

.album-container .album-row {
  display: flex;
}

.album {
  text-align: center;
}

.album img {
  padding: 0 10px;
  object-fit: cover;
  width: 100%;
}



/* Footer */

.footer-left,
.footer-right {
  width: 250px;
  max-width: calc(100% / 3);
  background-color: #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-middle {
  width: calc(100% - 500px);
  height: 100%;
  flex-grow: 1;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 575px) {
  .container-sidebar {
    width: 50px;
  }

  .container-main {
    width: calc(100% - 50px);
  }

  header {
    width: calc(100% - 50px);
  }
}
